
.translate-3d.slideIn {
    -webkit-animation-name: translate3dslideIn;
    -webkit-transform-origin: 50% 50%;
}
.translate-3d.slideOut {
    -webkit-animation-name: translate3dslideOut;
    -webkit-transform-origin: 50% 50%;
}

.slideIn, .slideOut {
    -webkit-animation-duration: 0.4s;
    -webkit-animation-iteration-count: 1;
    -webkit-transform-origin: 0 0;
    -webkit-animation-fill-mode:forwards;
    
}

@-webkit-keyframes translate3dslideIn {
    from {
        -webkit-transform: translate3d(1000px, 0, 0);
        opacity: 0;
        display:none;
    }
    
    to {
        -webkit-transform: translate3d(0, 0, 0);
        opacity: 1;
        display:block;
    }
}

@-webkit-keyframes translate3dslideOut {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        opacity: 1;
        display:block;
    }
    
    to {
        -webkit-transform: translate3d(1000px, 0, 0);
        opacity: 0;
        display:none;
    }
}